
.parallax-container
  .opacity-wrap
    .section.no-pad-bot
      .container.mr-top-ten.center.black-text
        %h4.header.center MATRIMONIO
        %h1.header.center.lemonada Felipe y Camila
        %hr.black-text{:width => "40%"}
        %h5.center.pd-top
          25 de Febrero de 2017
        %i.fa.fa-heart-o.center.fa-2x
        %i.fa.fa-heart-o.center.fa-2x

.section.u-versiculo.darken-1
  .valign-wrapper{style: "height: 200px;"}
    .container.white-text
      %h5.valign.center.light.arima
        %i.fa.fa-angle-double-left
        Que tu amor inagotable nos rodee, Señor, porque solo en ti está nuestra esperanza.
        %i.fa.fa-angle-double-right
      %h6.right.pd-right
        Salmos 33:22

.divider

#regalos.section.scrollspy
  -#.row{style: "background: url(#{image_url("bg-pink-hearts.jpg")}) left top repeat;"}
  #show_details
  .row.white.pd-top-two.center
    .col.m12
      %p#notice= notice
      %h4.header.center
        LISTA DE REGALOS
      %hr{:width => "25%"}
      %i.fa.fa-gift.center.fa-2x
      .container
        %br
        %p.center
          Estos regalos los hemos escogido cuidadosamente
          para que sean parte de nuestro hogar. Se parte tú también :D
      %br

    .row
      .col.offset-m1.m10
        - @regalos.each do |regalo|
          .col.s12.m6
            .card.card-gift.horizontal.hoverable.white
              .card-content
                .col.s12.m6
                  = image_tag "#{regalo.img_product.url.present? ? regalo.img_product.url : 'http://placehold.it/250x236'}", class: "img-responsive materialboxed", width: "100%"
                .col.s12.m6
                  .title-regalo
                    .light
                      = regalo.name

                  .price-text.light
                    - if !regalo.price_min.present?
                      %p
                        Precio:
                        = number_to_currency(regalo.price_max, precision: 0, separator: ".", unit: "$", format: "%u %n")
                    - else
                      %p
                        Precio:
                        = "#{number_to_currency(regalo.price_min, precision: 0, separator: ".", unit: "$", format: "%u %n")} - #{number_to_currency(regalo.price_max, precision: 0, separator: ".", unit: "$", format: "%u %n")}"


                  -if regalo.state == 1
                    -if regalo.user_id.present?
                      - user = User.find(regalo.user_id)
                      .chip.truncate
                        = image_tag user.img_contact.thumb.url
                        = user.name
                  -else
                    .chip.green.darken-1
                      .white-text
                        Disponible

                  .pd-top
                    = link_to 'Regalar!', new_user_registration_path, {:class => 'btn waves-effect waves-light teal', :method => 'get', remote: true, form: { "data-type" => "script" }}
